# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# macOS files
.DS_Store

# Logs
*.log

# Hugging Face cache (model weights etc.)
huggingface/
*.lock


.env 
