name: Sync to Hugging Face hub
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      
      - name: Checkout LFS objects
        run: git lfs checkout
      
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git lfs install
          git remote add hf https://chinese-enthusiasts:$HF_TOKEN@huggingface.co/spaces/chinese-enthusiasts/idiom-finder
          git lfs push hf main --all
          git push hf main --force